/*
!/alacritty/
!/amfora/
!/bat/
/bat/syntaxes
!/bspwm/
!/dunst/
!flake8
!/i3/
!/neofetch/
!/nvim/
/nvim/plugin/
/nvim/spell/
!/picom/
!/polybar/
!/rofi/
!/sxhkd/
!/zathura/
!/zinit/
!/zsh/
!.gitignore
!README.md
